<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> room view</title>
</head>
<h1 align="center"><u>{{room}}</u></h1>
<body>

<h1><table border="2px" align="center">
<tbody>
<tr>
    {% for j in dict.0 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.1 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.2 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.3 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.4 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.5 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.6 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.7 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.8 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
<tr>
    {% for j in dict.9 %}
    {% if j == 'abcdef' %}
    <td>null</td>
    {% else %}
    <td>{{j}}</td>
    {% endif%}
    {% endfor %}
</tr>
</tbody>


</table></h1>
</body>
</html>