<!DOCTYPE html>
<html>
<head>
	<title>Bootstrap Hide Show Password</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	</head>
<body>

<form method="POST" action="/final_list/">
	<input type="checkbox" name="check[]" value="2p2">2p2<br>
	<input type="checkbox" name="check[]" value="2p4">2p4<br>
	<input type="checkbox" name="check[]" value="2p5">2p5<br>
	<input type="checkbox" name="check[]" value="2p6">2p6<br>
	<input type="checkbox" name="check[]" value="2p7">2p7<br>
	<input type="submit">

</form>
<h1 >{{msg3}}</h1>

</body>
</html>